@import ../../variables

.category
  &Info
    display: flex
    justify-content: space-between
    gap: 32px
    padding: 24px 90px
    background: $gray2
    &Details
      display: flex
      gap: 32px
      align-items: center
  &Products
    padding: 80px
    display: grid
    gap: 20px
    grid-template-columns: 1fr 1fr 1fr
  &Subcategories
    display: flex
    justify-content: center
    width: 100%
    gap: 12px
    margin-bottom: 24px
    &Element
      border: 1px solid $gray
      cursor: pointer
      width: 256px
      height: 256px
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      &>p
        padding: 16px
        z-index: 1
        font-size: 24px
        font-weight: 700
        color: $primary
      &>div
        position: absolute
        width: 255px
        height: 253px
        overflow: hidden

@media screen and (max-width: 1000px)
  .category
    &Products
      display: flex
      flex-direction: column
      gap: 20px
      width: 100%

.sidebar
  padding: 36px 16px 36px 24px
  width: 360px
  height: 100vh
  overflow-y: scroll
  position: sticky
  top: 0
  &Wrapper
    padding: 28px 24px
    border-bottom: 1px solid black
  &Price
    display: flex
    justify-content: space-between
@media screen and (max-width: 1000px)
  .sidebar
    padding: 12px 4px 12px 8px

@media screen and (max-width: 680px)
  .sidebar
    display: none

.sectionProducts
  display: flex

.sortList
  margin-top: 24px
  display: flex
  gap: 12px
  flex-wrap: wrap
  width: 100%

.color
  width: 24px
  height: 24px
  border-radius: 50%
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center

.size
  padding: 6px 10px

  color: $secondary
  background: $white
  border: 1px solid $secondary
  border-radius: 5px

  font-size: 14px
  font-weight: 600

  transition: .5s
  cursor: pointer
  &Selected
    padding: 6px 10px

    color: $secondary
    background: #d1e2eb
    border: 1px solid $secondary
    border-radius: 5px

    font-size: 14px
    font-weight: 600

    transition: .5s
    cursor: pointer
  &:hover
    background: $gray2

.categoriesButton
  display: flex
  align-items: center
  gap: 16px

  border: none
  border-radius: 4px
  background: none
  color: $primary

  font-size: 16px
  font-weight: 700

  margin-bottom: 38px
  padding: 4px
  transition: .25s

  cursor: pointer

  &:hover
    background: $primary
    color: $white
