@import ../../variables

.category
  &Info
    display: flex
    justify-content: space-between
    gap: 32px
    padding: 24px 90px
    background: $gray2
    &Details
      display: flex
      gap: 32px
      align-items: center
  &Products
    padding: 80px
    display: grid
    gap: 20px
    grid-template-columns: 1fr 1fr 1fr

.sidebar
  padding: 36px 32px 36px 64px
  width: min-content
  &Wrapper
    padding: 28px  24px
    border-bottom: 1px solid black
  &Price
    display: flex
    justify-content: space-between

.sectionProducts
  display: flex

.sortList
  margin-top: 24px
  display: flex
  gap: 12px
  flex-wrap: wrap
  width: 65%

.color
  width: 24px
  height: 24px
  border-radius: 50%

.size
  padding: 6px 10px
  border: 1px solid $secondary
  background: $white
  border-radius: 5px
  font-size: 14px
  font-weight: 600
  transition: .5s
  cursor: pointer
  &:hover
    background: $gray2
