@import ../../../variables.sass
.input
  display: flex
  background: #fff
  border-radius: 4px
  width: 100%
  &>label
    width: 100%
    &>p
      margin-bottom: 4px
.field
  width: 100%
  border: none
  background: none
  padding: 12px 0 12px 12px
  font-size: 14px

.button
  border: none
  background: none
  padding: 12px
  cursor: pointer

  display: flex
  align-items: center
  justify-content: center

.star
  color: #D22600

.border
  border: 1px solid $stroke
  border-radius: 4px
  &:hover
    border: 1px solid $primary
