@import ../../../variables
.flash
  &Sales
    padding: 0 90px
    margin-top: 84px
  &Top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 48px
    &>h2
      font-size: 28px
    &>button
      background: none
      border: none
      color: $primary
      cursor: pointer

.cards
  display: flex
  justify-content: space-between
  gap: 20px
  flex-wrap: wrap
  &>*
    width: max-content

@media screen and (max-width: 1000px)
  .cards
    justify-content: center
    flex-wrap: wrap
    &>*
      width: 45%

@media screen and (max-width: 750px)
  .cards
    display: flex
    justify-content: center
    flex-wrap: wrap
    &>*
      overflow-x: hidden
